[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mongoengine = "*"
dnspython = "*"
python-dotenv = "*"
fastapi = "*"
uvicorn = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.8"

[scripts]
start = 'uvicorn pocket:app --reload'
db = 'python pocket/db.py'
